.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.main-content {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.book-now {
    background-color: #FFA500;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.book-now:hover {
    background-color: #ff8c00;
}

