<div>
  <div>
      <h1 class="display-4">Manage Your Reservation</h1>
      <p>Welcome, <span id="guestName">{{ firstName }} {{ lastName }}</span>!</p>
  </div>

  <!-- Reservation Details Section -->
  <div id="reservation-details" class="card mb-4" *ngIf="reservationDetails">
      <div class="card-body">
          <h2 class="card-title">Reservation Details</h2>
          <div class="list-group">
              <div class="list-group-item">
                  <label for="firstName">First Name</label>
                  <p>{{ firstName }}</p>
              </div>
              <div class="list-group-item">
                  <label for="lastName">Last Name</label>
                  <p>{{ lastName }}</p>
              </div>
              <div class="list-group-item">
                  <label for="dateTime">Date and Time</label>
                  <p>{{ reservationDetails.reservationDateTime | date: 'dd/MM/yyyy, h:mm a' }}</p>
              </div>
              <div class="list-group-item">
                  <label for="noOfGuests">Number of Guests</label>
                  <p>{{ reservationDetails.numberOfGuests }}</p>
              </div>
              <div class="list-group-item">
                  <label for="specialRequests">Special Requests</label>
                  <p>{{ reservationDetails.specialRequests || 'No special requests' }}</p>
              </div>
            </div>
      </div>
  </div>  

  <div class="mt-4">
      <p *ngIf="!isExistingUser">
          Don't have an account? 
          <a [routerLink]="['/setup-account']" [queryParams]="{ email: email, token: token }">Set up your account</a>
      </p>
      <p *ngIf="isExistingUser">
          Already have an account? 
          <a [routerLink]="['/login']" [queryParams]="{ email: email, token: token }">Log in</a>
      </p>
  </div>
</div>
