<div>
  <div>
    <h2 class="display-4">Reset Password</h2>
  </div>

  <div *ngIf="!token">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
      <label for="email">Email Address:</label>
      <input type="email" id="email" formControlName="email" required>
    </form>
    <div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Request Password Reset</button>
    </div>
  </div>
  
  <div *ngIf="token">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" formControlName="newPassword" required>
      
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
    </form>
    <div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </div>
  </div>

  <div *ngIf="message">{{ message }}</div>
</div>

