<div>
    <div>
        <h2 class="display-4">Setup Account</h2>
    </div>

    <div class="card mb-4">
        <div *ngIf="!isExistingUser" class="card-body">
                <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter Email Address" required>
                        <div *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
                          <small class="error-message" *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</small>
                          <small class="error-message" *ngIf="signUpForm.get('email')?.errors?.['pattern']">Invalid email address.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password:</label>
                        <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm New Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary"[disabled]="signUpForm.invalid">Set Password</button>
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                      </div>
                </form>
        </div>
    </div>

</div>

