h3 {
  margin-top: 40px;
}
/* checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 10px; 
}

.checkbox-container label {
  color: #FFA500;
}
