<div>
  <div>
    <h1 class="display-4">Book Your Reservation</h1>
  </div>

  <form *ngIf="!showConfirmation" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="reservationDate">Reservation Date:</label>
      <input type="date" formControlName="reservationDate" [min]="minDate">
    
      <label for="reservationTime">Reservation Time:</label>
      <div class="time-slot-container">
        <div 
          *ngFor="let timeSlot of timeSlots"
          [ngClass]="{
            'available': isTimeSlotAvailable(timeSlot),
            'disabled': !isTimeSlotAvailable(timeSlot),
            'selected': reservationForm.value.reservationTime === timeSlot
          }"
          (click)="selectTimeSlot(timeSlot)"
        >
          {{ timeSlot }}
        </div>
      </div>
    </div>  
    
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" id="firstName" placeholder="Enter First Name">
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" id="lastName" placeholder="Enter Last Name">
    </div>
    <div>
      <label for="email">Email Address:</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter Email Address">
    </div>
    <div>
      <label for="phoneNumber">Phone Number (Optional):</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Enter Phone Number">
    </div>
    <div>
      <label for="numberOfGuests">Number of Guests:</label>
      <input type="number" formControlName="numberOfGuests" id="numberOfGuests" placeholder="Enter Number of Guests">
    </div>
    <div>
      <label for="specialRequests">Special Requests:</label>
      <textarea id="specialRequests" formControlName="specialRequests" placeholder="Enter any dietary restrictions, special occasions, or any other preferences here."></textarea>
    </div>
    <button type="submit" [disabled]="reservationForm.invalid">Confirm Details</button>
  </form>
  
  <div *ngIf="showConfirmation">
    <h3>Confirm Your Reservation Details</h3>
    <div>
      <label>Reservation Date:</label>
      <p>{{ reservationForm.value.reservationDate }}</p>
    </div>
    <div>
      <label>Reservation Time:</label>
      <p>{{ reservationForm.value.reservationTime }}</p>
    </div>
    <div>
      <label>First Name:</label>
      <p>{{ reservationForm.value.firstName }}</p>
    </div>
    <div>
      <label>Last Name:</label>
      <p>{{ reservationForm.value.lastName }}</p>
    </div>
    <div>
      <label>Email Address:</label>
      <p>{{ reservationForm.value.email }}</p>
    </div>
    <div>
      <label>Phone Number:</label>
      <p>{{ reservationForm.value.phoneNumber }}</p>
    </div>
    <div>
      <label>Number of Guests:</label>
      <p>{{ reservationForm.value.numberOfGuests }}</p>
    </div>
    <div>
      <label>Special Requests:</label>
      <p>{{ reservationForm.value.specialRequests }}</p>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" id="agree" name="agree" [checked]="termsAccepted" (click)="openTermsModal($event)" required>
      <label for="agree">I agree to the <a href="#" (click)="openTermsModal($event)">terms and conditions</a></label>
    </div>
    
    <div class="button-group">
      <button type="button" (click)="onEdit()">Back</button>
      <button type="button" (click)="onConfirm()">Submit Reservation</button>
    </div>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>  
  
  <app-terms-and-conditions-modal *ngIf="showTermsModal" (accepted)="termsAccepted = true; showTermsModal = false" (closed)="showTermsModal = false"></app-terms-and-conditions-modal>
  <app-reservation-success-modal *ngIf="showModal" (closeModal)="closeModal()"></app-reservation-success-modal>  

</div>
