<div class="customer-details">
  <h1 class="display-4">Customer Details</h1>

  <div class="card mb-4" *ngIf="!editingState">
    <div class="card-body">
      <div class="inline-container">
        <label for="firstName">First Name:</label>
        <p class="list-group-item">{{ customer?.firstName }}</p>
      </div>
      <div class="inline-container">
        <label for="lastName">Last Name:</label>
        <p class="list-group-item">{{ customer?.lastName }}</p>
      </div>
      <div class="inline-container">
        <label for="email">Email Address:</label>
        <p class="list-group-item">{{ customer?.email }}</p>
      </div>
      <div class="inline-container">
        <label for="phoneNumber">Phone Number (Optional):</label>
        <p class="list-group-item">{{ customer?.phoneNumber }}</p>
      </div>
    </div>
    <button class="edit" (click)="editCustomer()">Edit</button>
  </div>

  <form *ngIf="editingState" [formGroup]="editCustomerForm" (ngSubmit)="updateCustomer()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter Email Address" required>
      <div *ngIf="editCustomerForm.get('email')?.invalid && (editCustomerForm.get('email')?.dirty || editCustomerForm.get('email')?.touched)">
        <small class="error-message" *ngIf="editCustomerForm.get('email')?.errors?.['required']">Email is required.</small>
        <small class="error-message" *ngIf="editCustomerForm.get('email')?.errors?.['pattern']">Invalid email address.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number (Optional):</label>
      <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    <div>
      <a (click)="navigateToForgotPassword()">Forgot Password?</a>
    </div>
    
    <button type="submit" class="btn btn-success">Update</button>
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
